<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://assetdbazuresample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>assetdbazuresample.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AssetDBAzureSample</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$AssetDBAzureSample</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ApplicationServices" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:assetdbazuresample.database.windows.net,1433;Initial Catalog=AssetDBAzureSample;User ID=AssetDBAdmin@assetdbazuresample.database.windows.net;Password=Mtts1000;Connect Timeout=60" Name="data source=tcp:assetdbazuresample.database.windows.net,1433;initial catalog=AssetDBAzureSample;user id=AssetDBAdmin@assetdbazuresample.database.windows.net;password=Mtts1000;MultipleActiveResultSets=False;Timeout=60" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.;initial catalog=AssetDBAzureSample;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.;initial catalog=AssetDBAzureSample;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>data source=tcp:assetdbazuresample.database.windows.net,1433;initial catalog=AssetDBAzureSample;user id=AssetDBAdmin@assetdbazuresample.database.windows.net;password=Mtts1000;MultipleActiveResultSets=False;Timeout=60</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=SSPI</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=AssetDBAzureSample;Integrated Security=SSPI</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>